/* Global Index Reset */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #1a1a1a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}